.wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.box_weather {
    /*border: 2px solid #403c3c;*/
    border-radius: 20px;
    background-color: #d0d4dc;
    width: 1024px;
    height: 532px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*-----------------------------------------------------*/
.top {
    /*border: 2px solid red;*/
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    max-height: 100%;
}

.top_flex_value {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_item_icon_value {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.main_value {
    color: #3e3e3e;
    font-weight: 500;
    font-size: 6em;
    margin: 0;
    max-width: 1fr;
    overflow: hidden;
}

.unit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 10px;
    font-size: 24px;
}

.unit p {
    color: #cdc8c7;
    margin: 0 2px;
}

.flex_item_description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 10px 0 0;
}

.flex_item_description h2 {
    color: #3e3e3e;
    font-size: 3em;
    font-weight: 400;
    margin-top: 15px;
}
.flex_item_description p {
    margin: 6px 0 0 0;
    font-size: 24px;
    color: #cdc8c7;
}

.flex_item_properties p{
    font-size: 20px;
    color: #cdc8c7;
    margin: 6px 0 0 10px;
}

/*-----------------------------------------------------*/
.content {
    /*border: 2px solid #0b1fd4;*/
    border-radius: 10px;

    background-color: #ffffff;
    height: 250px;
    margin: 10px 0;

}

.format {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #cdc8c7;
}
.format p {
    font-size: 20px;
    margin: 10px 3px 10px 10px;
}

.box_diagram {
    height: 155px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.flex_diagram {
    display: flex;
    flex-direction: column;
}
.diagram {
    display: flex;
    flex-direction: row;
    max-height: 100%;

}
.flex_item_temp {
    position: relative;
    display: flex;
    flex-direction: column;

}

.svg_diagram {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.item_time {
    margin: 5px 0 0 20px;
    color: #ccd9f3;
    font-size: 20px;

}

.item_temp p {
    color: #f1a417;
    font-size: 20px;
    font-weight: 500;
}

.wind_item {
    width: 100%;
    margin: 10px 30px;
    color: #6f6f82;
    font-size: 20px;
    font-weight: 500;
}

.wind_item_time {
    width: 100%;
    margin: 0 35px;
    margin-top: 5px;
    color: #a0a0ac;
    font-size: 20px;
    font-weight: 400;
}

/*----------------------------позволит разместить картинку в сетке четко ровно-------------------*/
.wind_item_img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 125px;
}

.wind_item_img img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: center;
    object-fit: cover;
}

/*-----------------------------------------------------*/
.button {
    /*border: 2px solid #50ee23;*/
    border-radius: 10px;

    background-color: #ffffff;
    /*padding: 10px;*/
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box_day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 7px 2px;
    width: 120px;
    max-width: 100%;
    height: 100%;

}

.box_day:hover {
    background-color: #ec963a;
}

.flex_item_temp_x {
    display: flex;
    flex-direction: row;
}
.box_day img {
    display: block;
    max-width: 100%;
    height: 60%;
}
.box_day p{
    font-size: 20px;
    margin-left: 4px;
    color: #6f6f82;
}

.flex_item_temp_x p:last-child{
    color: #e2e2e8;
}

/*------------------------------------media---------------------------------*/
@media screen and (max-width: 1100px) {
    .box_weather {
        width: 400px;
        height: 450px;
    }
    .top {
        height: 120px
    }
    .top_flex_value {
        margin-top: 5px;
        height: 50%;
    }
    .main_value {
        font-size: 2em;
    }
    .unit {
        font-size: 12px;
    }
    .flex_item_properties {
        max-height: 50%;
        margin-top: 12px;
    }
    .flex_item_properties p{
        font-size: 12px;
    }

    .flex_item_description h2 {
        font-size: 1.5em;
    }
    .flex_item_description p {
        font-size: 12px;
    }
    .content {
        height: 250px;
    }
    .format p {
        font-size: 12px;
    }
    .box_diagram {
        padding: 10px 0 0 0;
        border: 2px solid #ff00bf;
    }
    .diagram {
        max-width: 100%;
        height: 100%;
        border: 2px solid aqua;
    }
    .item_time {
        font-size: 12px;
    }
    .button {
        height: 120px;
    }
    .box_day img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .box_day p{
        margin-left: 5px;
        font-size: 12px;
    }

}
